.ui-autocomplete  .ui-menu-item a {
  color: #78959D;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover,
.ui-autocomplete .ui-menu-item a.ui-state-active {
  background-color: #c0d1e2;
  border-color: #a6cef7;
}

ul.tagit li.tagit-choice {
  background-color: #DEE7F8;
  border: 1px solid #CAD8F3;
}

ul.tagit li.tagit-choice:hover {
  background-color: #bbcef1;
  border-color: #6d95e0;
}
